# Project Notebook for predicting house prices

In [1]:
# Import libraries

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.linear_model import Lasso, Ridge, ElasticNet, LinearRegression

from src.constants import RANDOM_SEED
from src import data_engineering

## Data Preparation

- Importing dataset to see information and statistics
- Check for duplicates and missing values
- Exploratory Data Analysis

In [2]:
# Import Dataset

df = pd.read_csv("data/real_estate_data.csv")
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,1
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,1
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,2
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,1
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,1

In [11]:
# Information and statistics

df.info(), df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    int64
 6   guestroom         545 non-null    int64
 7   basement          545 non-null    int64
 8   hotwaterheating   545 non-null    int64
 9   airconditioning   545 non-null    int64
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    int64
 12  furnishingstatus  545 non-null    int64
dtypes: int64(13)
memory usage: 55.5 KB

(None,
               price          area    bedrooms   bathrooms     stories  \
 count  5.450000e+02    545.000000  545.000000  545.000000  545.000000
 mean   4.766729e+06   5150.541284    2.965138    1.286239    1.805505
 std    1.870440e+06   2170.141023    0.738064    0.502470    0.867492
 min    1.750000e+06   1650.000000    1.000000    1.000000    1.000000
 25%    3.430000e+06   3600.000000    2.000000    1.000000    1.000000
 50%    4.340000e+06   4600.000000    3.000000    1.000000    2.000000
 75%    5.740000e+06   6360.000000    3.000000    2.000000    2.000000
 max    1.330000e+07  16200.000000    6.000000    4.000000    4.000000

          mainroad   guestroom    basement  hotwaterheating  airconditioning  \
 count  545.000000  545.000000  545.000000       545.000000       545.000000
 mean     0.858716    0.177982    0.350459         0.045872         0.315596
 std      0.348635    0.382849    0.477552         0.209399         0.465180
 min      0.000000    0.000000    0.000000         0.000000         0.000000
 25%      1.000000    0.000000    0.000000         0.000000         0.000000
 50%      1.000000    0.000000    0.000000         0.000000         0.000000
 75%      1.000000    0.000000    1.000000         0.000000         1.000000
 max      1.000000    1.000000    1.000000         1.000000         1.000000

           parking    prefarea  furnishingstatus
 count  545.000000  545.000000        545.000000
 mean     0.693578    0.234862          1.089908
 std      0.861586    0.424302          0.858130
 min      0.000000    0.000000          0.000000
 25%      0.000000    0.000000          0.000000
 50%      0.000000    0.000000          1.000000
 75%      1.000000    0.000000          2.000000
 max      3.000000    1.000000          2.000000  )

In [3]:
# Remove duplicates if exist

df_cleaned = data_engineering.handle_duplicates(df)

No duplicates found!

In [4]:
# Handling missing values

df_cleaned.isna().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

## Regression Models Implementation

## Performance Evaluation

## Results Visualization